@import '../variables/settings';

// Common rules
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, button, span, label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-text-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: 'Heading', sans-serif;
}

h1 {
    font-size: $heading-1-size;
    line-height: $heading-1-height;

    @include media-breakpoint-up(md) {
        font-size: $heading-1-md-size;
        line-height: $heading-1-md-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $heading-1-lg-size;
        line-height: $heading-1-lg-height;
    }
}

h2 {
    font-size: $heading-2-size;
    line-height: $heading-2-height;

    @include media-breakpoint-up(md) {
        font-size: $heading-2-md-size;
        line-height: $heading-2-md-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $heading-2-lg-size;
        line-height: $heading-2-lg-height;
    }
}

h3 {
    font-size: $heading-3-size;
    line-height: $heading-3-height;

    @include media-breakpoint-up(md) {
        font-size: $heading-3-md-size;
        line-height: $heading-3-md-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $heading-3-lg-size;
        line-height: $heading-3-lg-height;
    }
}

h4 {
    font-size: $heading-4-size;
    line-height: $heading-4-height;

    @include media-breakpoint-up(md) {
        font-size: $heading-4-md-size;
        line-height: $heading-4-md-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $heading-4-lg-size;
        line-height: $heading-4-lg-height;
    }
}

h5 {
    font-size: $heading-5-size;
    line-height: $heading-5-height;

    @include media-breakpoint-up(md) {
        font-size: $heading-5-md-size;
        line-height: $heading-5-md-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $heading-5-lg-size;
        line-height: $heading-5-lg-height;
    }
}

// Body
p, a, b, table, label, ul, ol, li, span, input, textarea {
    font-family: 'Body', sans-serif;
    font-size: $body-font-size;
    line-height: $body-line-height;

    @include media-breakpoint-up(md) {
        font-size: $body-md-font-size;
        line-height: $body-md-line-height;
    }

    @include media-breakpoint-up(lg) {
        font-size: $body-lg-font-size;
        line-height: $body-lg-line-height;
    }
}


// Links
a {

}

// Buttons
button, a.button {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.45;
    font-family: $button-font;
}

.inverted {
    color: $white !important;

    :hover {
        color: $white !important;
    }

    h1, h2, h3, h4, h5, h6, p, a, b, table, label, ul, ol, li, span, input, textarea {
        color: $white !important;
    }
}

// Non-breaking copy, useful for preventing widows
.text-nowrap {
    white-space: nowrap;
}

