@import '../variables/all-variables';

button, a.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: $button-md-padding;
    min-width: $button-min-width;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-radius: $button-border-radius;

    &.primary {
        background-color: $primary-background-color;
        color: $primary-foreground-color;
        border: none;
        @include transition();

        &:hover, &:focus {
            @include darken-on-hover-focus($primary-background-color);
        }
    }

    &.secondary {
        background-color: $secondary-background-color;
        color: $secondary-foreground-color;
        border: none;
        @include transition();

        &:hover, &:focus {
            @include darken-on-hover-focus($secondary-background-color);
        }
    }

    &.tertiary {
        background-color: $tertiary-background-color;
        color: $tertiary-foreground-color;
        border: none;
        @include transition();

        &:hover, &:focus {
            @include darken-on-hover-focus($tertiary-background-color);
        }
    }

    &.cta {
        border: none;
        background-color: $transparent;
        padding: $button-cta-padding;
        font-weight: 700;
        align-items: baseline;

        &::after {
            height: 0.125rem;
            padding: 0.125rem 0 0;
            content: '\2192';
            opacity: 0;
            transform: translate(0, -50%);
            @include transition();
        }

        &:hover, &:focus {
            &::after {
                transform: translate(0.3rem, -50%);
                opacity: 1;
            }
        }
    }

    &.outline-light {
        background-color: $transparent;
        color: $outline-light-color;
        border: 0.0625rem solid $outline-light-color;
        // height: 100%;
    }

    &.outline-dark {
        background-color: $transparent;
        color: $outline-dark-color;
        border: 0.0625rem solid $outline-dark-color;
        // height: 100%;
    }

    &.disabled {
        background-color: $disabled-background-color;
        color: $disabled-foreground-color;
        border: none;
        cursor: not-allowed;
    }

    &.xs {
        padding: $button-xs-padding;
    }

    &.sm {
        padding: $button-sm-padding;
    }

    &.lg {
        padding: $button-lg-padding;
    }

    > span {
        line-height: inherit;
    }
}
