@import '../variables/all-variables';

.footer-container {
    @include media-breakpoint-down(md) {
        padding: 0;
    }

    footer {
        display: flex;

        flex-direction: column;
        
        margin-top: 50px;
        margin-left: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 60px;
            margin-left: 0px;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin: 0 0 1rem 0;

            color: $footer-foreground-color;
            font-weight: 700;
        }

        a {
            color: $footer-foreground-color;

            cursor: pointer;

            .social-icon {
                margin-top: 72px;
                margin-right: 5px;

                width: 30px;
                height: 30px;

                @include media-breakpoint-down(sm) {
                    margin-top: 22px;
                }
            }

            &:hover {
                text-decoration: none;
            }
        }

        .container {
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }

        .row {
            margin-right: 0px;

            overflow: initial;
        }

        .separator {
            margin-bottom: 36px;

            width: 100%;
            max-width: 380px;

            @include media-breakpoint-down(md) {
                margin-bottom: 30px;

                max-width: 208px;
            }
        }

        .heading {
            margin-bottom: 58px;

            @include media-breakpoint-down(md) {
                margin-bottom: 43px;
            }
        }

        .address {
            p {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .address,
        .email-link {
            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }
        }

        .email-link,
        .phone-link {
            p {
                margin-bottom: 0px;
                text-decoration: underline;
            }
        }

        .social-links {
            a {
                text-decoration: none;
            }
        }

        .copyright {
            display: flex;

            flex-direction: row;
            justify-content: center;

            margin-top: 68px;
            margin-bottom: 40px;

            p, a {
                color: $footer-foreground-color;
            }

            p {
                font-size: 11px;
                font-weight: 600;
            }

            @include media-breakpoint-up(md) {
                margin-top: 72px;
                margin-bottom: 25px;
            }
        }
    }
}