// Layout settings
    // Gutter size
    $grid-gutter-width: 30px;

    // grid breakpoints
    $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
    ) !default;

    // Container sizes
    $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
    ) !default;

// Body settings
$body-background-color: $gray-non-aa-lightest !default;

// Button settings
$button-font: 'Body', sans-serif !default;
$button-border-radius: 0.25rem !default;
$button-xs-padding: 0.0625rem 0.3rem !default;
$button-sm-padding: 0.3rem 0.625rem !default;
$button-md-padding: 0.75rem 0.9rem !default;
$button-lg-padding: 0.9rem 1.25rem !default;
$button-cta-padding: 0.75rem 0.9rem 0.75rem 0 !default;

$primary-background-color: $cyan-aa-small !default;
$primary-foreground-color: $white !default;

$secondary-background-color: $cyan-aa-small !default;
$secondary-foreground-color: $white !default;

$tertiary-background-color: $red-aa-small !default;
$tertiary-foreground-color: $white !default;

$disabled-background-color: $gray-aa-small !default;
$disabled-foreground-color: $white !default;

$outline-light-color: $white !default;
$outline-dark-color: $black !default;

// Typography settings
$default-text-color: $black !default;
$link-color: $cyan-aa-small !default;

// Navigation settings
$navigation-background-color: $cyan-aa-small !default;
$navigation-foreground-color: $white !default;
$navigation-dropdown-background-color: $white !default;
$navigation-dropdown-foreground-color: $cyan-aa-small !default;
$navigation-mobile-background: $gray-aa-small !default;
$navigation-mobile-foreground: $white !default;

// Side navigation settings
$side-navigation-heading-color: $cyan-aa-small !default;
$side-navigation-link-color: $black !default;
$side-navigation-hover-color: $cyan-aa-small !default;
$side-navigation-mobile-border-color: $gray-aa-large !default;

// Breadcrumbs settings
$breadcrumbs-background-color: $gray-non-aa-medium !default;
$breadcrumbs-foreground-color: $black !default;

// Input settings
$checkbox-border-color: $cyan-aa-small !default;
$checkbox-check-color: $cyan-aa-small !default;
$radio-color: $cyan-aa-small !default;
$toggle-inactive-color: $gray-aa-large !default;
$toggle-active-color: $cyan-aa-small !default;
$input-field-border-color: $gray-aa-small !default;
$input-field-focus-color: $cyan-aa-small !default;

// Select settings
$select-field-border-color: $gray-aa-small !default;
$select-field-focus-color: $cyan-aa-small !default;
$select-field-arrow-color: $gray-aa-small !default;
$select-field-arrow-focus-color: $cyan-aa-small !default;

// Slider settings
$slider-field-thumb-color: $cyan-aa-small !default;
$slider-field-rail-color: $gray-aa-large !default;

// Accordion settings
$accordion-heading-background-color: $cyan-aa-small !default;
$accordion-heading-foreground-color: $white !default;

// Table settings
$table-heading-background-color: $gray-aa-small !default;
$table-heading-foreground-color: $white !default;
$table-odd-background-color: $white !default;
$table-odd-foreground-color: $black !default;
$table-separator-color: $gray-non-aa-medium !default;
$table-even-background-color: $gray-non-aa-light !default;
$table-even-foreground-color: $black !default;

// List settings
$list-point-background-color: $gray-aa-small !default;
$list-point-foreground-color: $white !default;
$list-association-color: $gray-non-aa !default;

// Tooltip settings
$tooltip-indicator-color: $gray-aa-small !default;
$tooltip-background-color: $cyan-aa-small !default;
$tooltip-foreground-color: $white !default;

// Pagination settings
$active-page-background-color: $cyan-aa-small !default;
$active-page-foreground-color: $white !default;

// Progress bar settings
$progress-completed-background-color: $cyan-aa-small !default;
$progress-completed-foreground-color: $white !default;
$progress-current-step-background-color: $white !default;
$progress-current-step-foreground-color: $black !default;
$progress-current-step-border-color: $cyan-aa-small !default;
$remaining-steps-background-color: $gray-aa-small !default;
$remaining-steps-foreground-color: $white !default;

// Notification settings
$new-color: $cyan-aa-small !default;
$info-color: $gray-aa-small !default;
$warning-color: $orange-aa-small !default;
$success-color: $green-aa-small !default;
$error-color: $red-aa-small !default;

// Page Alert settings
$alert-success-color: $green-aa-small !default;
$alert-info-color: $cyan-aa-small !default;
$alert-warning-color: $orange-aa-small !default;
$alert-error-color: $red-aa-small !default;

// Card settings
$card-date-background-color: $cyan-aa-small !default;
$card-date-foreground-color: $white !default;

// Carousel settings
$carousel-inactive-dot-color: $gray-aa-small !default;
$carousel-active-dot-color: $cyan-aa-small !default;

// Date picker settings
$selected-date-background-color: $cyan-aa-small !default;
$selected-date-foreground-color: $white !default;
$selected-dates-range-color: $gray-non-aa !default;
$selected-dates-range-hover-background-color: $gray-aa-small !default;
$selected-dates-range-hover-foreground-color: $white !default;
$date-range-picker-to-background-color: $gray-non-aa !default;
$date-range-picker-to-foreground-color: $black !default;
$days-of-week-color: $cyan-aa-small !default;

// Footer settings
$footer-background-color: $cyan-aa-small !default;
$footer-foreground-color: $white !default;